<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Random Password Generator</title>
    <link rel="shortcut icon" href="../Images/icon.png" type="image/x-icon">
  </head>
  <body ng-app="myApp" ng-controller="myCtrl" class="background-matteblack">
    <div class="container text-white text-center mt-5">
        <h4>Create strong passwords with Password Generator</h4>
        <div class="text-center mt-5">
            <div class="row">
                <div class="col-lg">
                    <input readonly class="form-control" id="random_password_txt" placeholder="Password" ng-model="random_password_txt">
                </div>
                <div class="col-lg">
                    <div class="row">
                        <div class="col-lg">
                            <button type="button" width="100%" class="btn btn-dark btn-block" ng-button id="new_btn" ng-model="new_btn" ng-click="GeneratePassword()">Generate New</button>
                        </div>
                        <div class="col-lg">
                            <button type="button" width="100%" class="btn btn-dark btn-block" ng-button id="copy_btn" ng-model="copy_btn" ng-click="CopyPassword()">Copy</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg">
                    <input class="form-control" type="number" id="length_password_txt" placeholder="Enter Password length" ng-model="length_password_txt" ng-change="GeneratePassword()">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg">
                    <input class="form-check-input h3" type="checkbox" value="" id="check_symbols" ng-model="check_symbols" ng-change="GeneratePassword()"> Symbols
                </div>
                <div class="col-lg">
                    <input class="form-check-input" type="checkbox" value="" id="check_numbers" ng-model="check_numbers" ng-change="GeneratePassword()"> Numbers
                </div>
                <div class="col-lg">
                    <input class="form-check-input" type="checkbox" value="" id="check_lowercase" ng-model="check_lowercase" ng-change="GeneratePassword()"> Lowercase
                </div>
                <div class="col-lg">
                    <input class="form-check-input" type="checkbox" value="" id="check_uppercase" ng-model="check_uppercase" ng-change="GeneratePassword()"> Uppercase
                </div>
            </div>
        </div>
    </div>
  </body>
  <script src="../Angular/passwordgenerator.js"></script>
</html>